body{
    margin: 0;
    background-color: whitesmoke;
}
.block {
    width: 250px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 50px;
    color: blue;
}

.block2 {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;

}


.inf {
    width: 250px;
    height: 45px;
    margin-top: 10px;
    border-radius: 10px;

}
p {
    text-align: center;
    font-weight: bold;
    color: green;
}

a {
    color: black;
}

.btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: yellowgreen;
    border-radius: 30px;
    color: black
}
span {
    font-size: 15px;
    color: burlywood;
}
.mt-20{
    margin-top: 15px;
}
.c-w{
    color: rgb(0, 132, 255);
}